#countLabel {
    font-size: 10em;
    font-weight: bold;
    text-align: center;
    display: block;
}

#button-container {
    text-align: center;
    margin-top: 20px;
}

.buttons {
    font-size: 1.5em;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons:hover {
    background-color: #0056b3;
}